#content {
    padding: 30px;
}

#content img{
    width: 800px;
}

#header a {
    color: white;
}

ul li {
    list-style: none;
}

.title {
    font-size: 24px;
    padding-bottom: 20px;
}

#header {
    padding: 4em 0 6em 0;
}

#footer .icons a {
    color: #D3E6E6;
}

#footer .icons a:hover {
    color: white;
}


#back-top{
    width: 20px;
    height: 20px;
    font-size: 40px;
    position: fixed;
    bottom: 20%;
    right: 20px;
}

#back-top:hover{
    color: #2aabd2;
}
#back-top a{
    border-bottom: none;
}